.HeadindText{
  text-align: center;
}

#btn1 {
  width: 260px;
  height: 45px;
  border-radius: 25px;
  background-color: lightblue;
  border: 2px solid black;
  position: absolute;
  top: 120px;
  left: 420px;
  box-shadow: 5px 5px 10px grey;
}
#btn1:hover {
  background-color: aqua;
  cursor: pointer;
}
#btn2 {
  width: 260px;
  height: 45px;
  border-radius: 25px;
  background-color: lightblue;
  border: 2px solid black;
  position: absolute;
  top: 120px;
  left: 856px;
  box-shadow: 5px 5px 10px grey;
}
#btn2:hover {
  background-color: aqua;
  cursor: pointer;
}